[submodule "WsprryPi-UI"]
	path = WsprryPi-UI
	url = https://github.com/lbussy/WsprryPi-UI.git
	branch = bootstrap_5
[submodule "src/Mailbox"]
	path = src/Mailbox
	url = https://github.com/lbussy/Mailbox.git
[submodule "src/INI-Handler"]
	path = src/INI-Handler
	url = https://github.com/lbussy/INI-Handler.git
[submodule "src/LCBLog"]
	path = src/LCBLog
	url = https://github.com/lbussy/LCBLog.git
[submodule "src/MonitorFile"]
	path = src/MonitorFile
	url = https://github.com/lbussy/MonitorFile.git
[submodule "src/PPM-Manager"]
	path = src/PPM-Manager
	url = https://github.com/lbussy/PPM-Manager.git
[submodule "src/Signal-Handler"]
	path = src/Signal-Handler
	url = https://github.com/lbussy/Signal-Handler.git
[submodule "src/Singleton"]
	path = src/Singleton
	url = https://github.com/lbussy/Singleton.git
[submodule "src/WSPR-Message"]
	path = src/WSPR-Message
	url = https://github.com/lbussy/WSPR-Message.git
[submodule "src/WSPR-Transmitter"]
	path = src/WSPR-Transmitter
	url = https://github.com/lbussy/WSPR-Transmitter.git
