# GitIgnore for WsprryPi
wsprrypi
wsprrypi_test
executables/

## General Rules
.DS_Store
Thumbs.db
*.log
*.bak
*.zip

# Ignore all files without extensions in src/
src/[^/]*[^.][^/]*$

# Allow the src/ directory itself
!src/

# Ensure .o and .d files remain ignored even with the rule above
src/*.o
src/*.d

# Ignore build
src/build/

## Allow specific files in /src
!/src/Makefile

## C/C++ Ignores
*.d            # Dependency files
*.o            # Compiled object files
*.obj
*.so           # Shared objects
*.dll
*.dylib
*.a            # Static libraries
*.lib
*.exe          # Executables
*.out
*.app
*.gch          # Precompiled headers
*.pch
*.pdb          # Program database files
*.ilk          # Incremental linker files
*.map          # Linker map files
*.sbr
*.idb
*.ipch         # IntelliSense precompiled headers
*.sdf          # SQL Server Compact files
*.tlog         # Task logs
*.vcxproj.user

## Build Directories
[bB]in/
[Oo]bj/
build/
dist/
x64/
x86/

## Python Ignores
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg
*.egg-info/
*.manifest
*.spec

# Python virtual environment
.venv/
venv/

## Sphinx Documentation
docs/_build/

## Ignore IDE/editor-specific files
.idea/
*.code-workspace

## Backup Files
*.tmp
*.swp
*.swo
*~
*.bak
*.old
