[submodule "WsprryPi-UI"]
	path = WsprryPi-UI
	url = https://github.com/WsprryPi/WsprryPi-UI.git
[submodule "src/Mailbox"]
	path = src/Mailbox
	url = https://github.com/WsprryPi/Mailbox.git
[submodule "src/INI-Handler"]
	path = src/INI-Handler
	url = https://github.com/WsprryPi/INI-Handler.git
[submodule "src/LCBLog"]
	path = src/LCBLog
	url = https://github.com/WsprryPi/LCBLog
[submodule "src/MonitorFile"]
	path = src/MonitorFile
	url = https://github.com/WsprryPi/MonitorFile.git
[submodule "src/PPM-Manager"]
	path = src/PPM-Manager
	url = https://github.com/WsprryPi/PPM-Manager.git
[submodule "src/Signal-Handler"]
	path = src/Signal-Handler
	url = https://github.com/WsprryPi/Signal-Handler.git
[submodule "src/Singleton"]
	path = src/Singleton
	url = https://github.com/WsprryPi/Singleton.git
[submodule "src/WSPR-Message"]
	path = src/WSPR-Message
	url = https://github.com/WsprryPi/WSPR-Message.git
[submodule "src/WSPR-Transmitter"]
	path = src/WSPR-Transmitter
	url = https://github.com/WsprryPi/WSPR-Transmitter.git
[submodule ".github"]
	path = .github
	url = https://github.com/WsprryPi/.github.git
