# Created for WsprryPi version %SEMANTIC_VERSION%
# Copyright (C) 2023 - 2026 Lee C. Bussy (@LBussy)

[Unit]
Description=WsprryPi daemon for: %DAEMON_NAME%
Documentation=https://github.com/orgs/WsprryPi/discussions
Wants=time-sync.target
After=time-sync.target

[Service]
Type=simple

User=root

ExecStartPre=/bin/sleep 5
ExecStart=%EXEC_START%
SyslogIdentifier=%SYSLOG_IDENTIFIER%

Restart=on-failure
RestartSec=30
TimeoutStopSec=10

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
