# Created for WsprryPi version 1.2.1-36ba1cd-dirty

[Unit]
Description=wsprrypi daemon for: wsprrypi
Documentation=https://github.com/lbussy/WsprryPi/discussions
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=root
Group=root
ExecStart=/usr/local/bin/wsprrypi -D -i /usr/local/etc/wsprrypi.ini
SyslogIdentifier=wsprrypi
StandardOutput=append:/var/log/wsprrypi/wsprrypi.transmit.log
StandardError=append:/var/log/wsprrypi/wsprrypi.error.log

[Install]
WantedBy=multi-user.target
