# Created for WsprryPi version 1.2.1-36ba1cd-dirty

[Unit]
Description=wspr daemon for: shutdown_watch
Documentation=https://github.com/lbussy/WsprryPi/discussions
After=multi-user.target

[Service]
Type=simple
Restart=on-failure
RestartSec=5
User=root
Group=root
ExecStart=/usr/bin/python3 /usr/local/bin/shutdown_watch.py
SyslogIdentifier=shutdown_watch
StandardOutput=append:/var/log/wspr/shutdown_watch.transmit.log
StandardError=append:/var/log/wspr/shutdown_watch.error.log

[Install]
WantedBy=multi-user.target
