[Unit]
Description=Shutdown Service
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/bin/shutdown.py

[Install]
WantedBy=multi-user.target
